body {
  background-color: #222;
  overflow: hidden;
}

div {
  box-sizing: border-box;
}

#timerContainer {
  position: relative;
  width: 80vmin;
  height: 80vmin;
  margin: auto;
  margin-top: 10vh;
  border-radius: 50%;
}

#timerDisk {
  border-radius: 50%;
  box-shadow: 0px 0px 20px 20px hsl(0, 0%, 10%);
  border-width: 5px;
  border-style: solid;
  border-color: hsl(0, 0%, 16%);
}

#timerDiskHole {
  display: inline-block;
  position: absolute;
  width: 20%;
  height: 20%;
  left: 40%;
  top: 40%;
  border-radius: 50%;
  box-shadow: inset 0px 0px 20px 5px rgba(0,0,0,0.5);
  border-style: solid;
  border-color: rgb(40, 40, 40);
  border-width: 5px;
}

#timerDisk > svg > path:nth-child(1) {
 stroke: #2c333f;
}

#timerGroundEnd {
  position: absolute;
  width: 100px;
  height: calc(40% + 5px);
  top: 0px;
  left: 50%;
  background: #292929;
  box-shadow: -15px 3px 20px 1px rgba(0,0,0,0.5);
  clip: rect(-53px 6px 1000 -1000px);
}

#timerBarEnd {
  position: absolute;
  width: 8px;
  height: 39%;
  background: #292929;
}

#timerBarKnob {
  position: absolute;
  height: 32px;
  width: 32px;
  background-color: #b3b3b3;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.75), 0px 0px 8px 0px rgba(0,0,0,0.4) inset;
}

#timerTime {
  display: inline-block;
  position: absolute;
  width: 20%;
  height: 20%;
  left: 40%;
  top: 39%;
  padding-top: 8%;
  text-align: center;
  font-family: 'Helvetica';
  font-size: 4.0vmin;
  border-radius: 50%;
  color: #444444;
}

#optionButtons {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 16px;
}

#optionButtons > div {
  position: relative;
  height: 32px;
  width: 32px;
  margin: 0 8px;
  cursor: pointer;
}

#optionButtons > div > img {
  height: 100%;
  width: 100%;
  filter: invert(70%);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  transform: translateY(-100%);
}

.dropdown-content > a {
  display: block;
  position: relative;
  padding: 12px 16px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: 0;

  background-color: #b3b3b3;
  color: #1c1c1c;
  text-align: center;
  text-decoration: none;
  border-radius: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

  width: fit-content;
  white-space: nowrap;
}

.dropdown-content > a:hover {
  background-color: #ddd;
}

